 {# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends "ProjetReseauBundle::layout.html.twig" %}
{% block title %}
  Apercu Reseau - {{ parent() }}
{% endblock %}
 {% block path %}
 {{parent()}}/Service/<a href="{{ path('Projet_apercu') }}">Apercu</a>/
  {% endblock %}
{% block body_content%}
{{ render(controller("ProjetReseauBundle:Reseau:menuApercuSalle")) }}
{% endblock %}